div {
  background-color: #f4eeff;
}

.topcontainer {
  text-align: center;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.Heading {
  margin-bottom: 0;
}

.bottom-mountain {
  margin-bottom: 0;
  /* width: 800px;

  height: 500px; */
}

body {
  margin: 0;
}

p {
  margin: 0;
  font-family: sans-serif;
}

.pro {
  text-decoration: underline;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Ruthie', cursive;
  color: #79d70f;
  font-weight: normal;
  font-size: 58px;
}

.topcontainer {
  background-color: #f4eeff;
  position: relative;
  padding-top: 100px;
}
