body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem; /* 16px = 100% = 1em */
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr{
  border-style: none;
  border-width: 10px;
  width: 5%;
  border-top-style: dotted;
  border-color: #EAF6F6;
}

p{
  color: #40514E;
  line-height: 2;
}
.program{
  font-weight: normal;
}

.footer-link{
  color: #11999E;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto ;
  text-align: left;
}
.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.bottom-container{
  background-color: #66BFBF;
}

.middle-container{
  margin: 100px 0;
}
.pro {
  text-decoration: underline;
}

.top-cloud {
  position: relative;
  left: 400px;
  top: 40px;
}

.bottom-cloud {
  position: relative;
  bottom: 580px;
  left: 50px;
}

.bottom-mountain{
  width: 948px;
  height: 610px;
}

.profile {
  padding: 5px;
}

.profilepic {
  width: 230px;
  height: 230px;
}

.chicken{
  width: 35%;
  float: right;
  margin-left: 30px;
}

.computerimg{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.contact-me{
  margin: auto;
  width: 25%;
}



.myButton {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Montserrat', sans-serif;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0 1px 0 #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
